#my-skills-box{
    margin: 2%;
    padding: 2%;
    transition: width 0.2s ease, height 0.2s ease;  
}

.main-skills-box{
    margin-bottom: 1%;
}
.language-section{
    width: 25%;
    height: 150px;
    margin-top: 1%;
    margin-left: 4%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.code-images{
    width: 80px;
}

/*ESTILO ESPECÍFICO PARA MOZILLA*/
@-moz-document url-prefix() {
    progress {
        border-radius: 25px;
        border: 1px solid #ccc; /* Añadir borde en Firefox */
        background-color: #f0f0f0; /* Color de fondo en Firefox */
    }
}